<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}" style="font-size:14px; color: white;">{{ site.name }}</a>
        </li>
        <li>
          <a href="{{ site.github }}" >{{ site.github }}</a>
        </li>
       </ul>
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </nav>
  </div>
</header>